@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.bg-about-left {
    background-image: url("./assets/images/about/backgound_about.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
}

.bg-about-right {
    background-image: url("./assets/images/about/backgound_about.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
}

.bg-interior {
    background-image: url("./assets/images/interior/backround_interior.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-criteria {
    background-image: url("./assets/images/criteria/bg-criteria.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: -1;
}

.bg-news-left-top {
    background-image: url("./assets/images/news/bg_news.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    aspect-ratio: 16/10;
    z-index: -1;
}

.bg-news-right-bottom {
    background-image: url("./assets/images/news/bg_news.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
    aspect-ratio: 16/10;
    z-index: -1;
}

.bg-media {
    background-image: url("./assets/images/media/bg-mediab.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    z-index: -1;
}

.slider-item {
    width: 100%;
    height: 300px;
    background: rgba(0, 0, 0, 0.325);
}
